# Ignore Python virtual environments
.venv/

# Byte-compiled files
__pycache__/
*.py[cod]

# Logs
*.log

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# macOS-specific files
.DS_Store

# Other
*.swp

cache/
side_postions.xlsx

evaluation/in/array_audio_data
evaluation/in/video_data
evaluation/out
