# Ignore Python virtual environments
.venv/

# Byte-compiled files
__pycache__/
*.py[cod]

# Logs
*.log

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# macOS-specific files
.DS_Store

# Other
*.swp
